GITLAB_URL=https://gitlab.com
GITLAB_TOKEN={{YOUR_PERSONAL_TOKEN}}
AUTH_METHOD=token
GIT_AUTH_MODE=url
# GITLAB_OAUTH_CLIENT_ID={{YOUR_OAUTH_CLIENT_ID}}
# GITLAB_OAUTH_CLIENT_SECRET={{YOUR_OAUTH_CLIENT_SECRET}}
# GITLAB_OAUTH_SCOPE=read_api read_repository
# GITLAB_OAUTH_CACHE_PATH=~/.config/gitlab-dump/oauth_token.json
CLONE_PATH=./repositories
# GITLAB_GROUP={{YOUR_GROUP}}
